body, html {
    overflow: hidden;
    background: #fff;
    margin:0;
    padding:0;
	-webkit-user-select: none ;
	text-align: center;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
#fps {
	position: fixed;
	padding: 1em;
	z-index: 999;
	background: rgba(255,255,255,.8);
}
#debug {
	right: 0;
	position: fixed;
	padding: 1em;
	z-index: 999;
	background: rgba(255,255,255,.8);
}
